//global variables

//colors
$white: #fff;
$off-white: #fff9f8;
$black: #070707;
$chickpea: #fff3de;
$banana: #fff7ab;
$pink: #ffbdbf;
$skyblue: #388fff;
$oceanblue: #3b02ff;

//fonts
$font: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
  Georgia, serif;

@font-face {
  font-family: Olavi;
  src: url("../fonts/Olavi-Regular.otf") format("opentype");
}

@font-face {
  font-family: Olavi;
  font-weight: bold;
  src: url("../fonts/Olavi-Bold.otf") format("opentype");
}

html,
body {
  font-family: "Olavi", $font;
  color: $pink;
  font-size: 12px;
  background-color: $off-white;
}

a {
  color: $pink;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  width: 80vw;
  min-width: 80vw;
  margin: 0 auto;

  // @media (min-width: 1280px) {
  //   width: 992px;
  //   max-width: 992px;
  // }
  // @media (min-width: 992px) {
  //   width: 992px;
  //   max-width: 992px;
  // }
  // @media (min-width: 768px) {
  //   width: 768px;
  //   max-width: 768px;
  // }
  // @media (min-width: 600px) {
  //   width: 600px;
  //   max-width: 600px;
  // }
  // @media (max-width: 600px) {
  //   width: 90vw;
  //   min-width: 90vw;
  // }
}

header {
  position: relative;
  height: 20vh;
  top: 1vh;
  .inner-header {
    position: relative;
    height: 80px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 465px;
      margin-top: 10px;
      @media (max-width: 1440px) {
        width: 380px;
        min-width: 320px;
      }
      @media (max-width: 1280px) {
        width: 300px;
        min-width: 240px;
      }
      @media (max-width: 976px) {
        width: 240px;
        min-width: 160px;
        margin-top: 0;
      }
      // @media (max-width: 728px) {
      //   width: 160px;
      //   min-width: 80px;
      // }
    }
    .nav-menu {
      @media (max-width: 500px) {
        transform: rotate(-90deg);
        position: absolute;
        top: 60px;
        right: -60px;
      }

      .upper-nav {
        text-align: right;
        font-size: 3em;
        margin-top: 20px;
        margin-bottom: -10px;

        @media (max-width: 1440px) {
          font-size: 2.25em;
        }
        // @media (max-width: 728px) {
        //   display: none;
        // }
      }
      .nav-links {
        display: flex;
        justify-content: flex-end;

        ul {
          font-size: 2em;
          @media (max-width: 1440px) {
            font-size: 2em;
            // padding-top: 8px;
          }
          @media (max-width: 976px) {
            font-size: 1.5em;
            padding: 5px 0px;
          }
          li {
            list-style-type: none;
            float: left;
            margin: 0 10px;
            @media (max-width: 768px) {
              //   // padding: 10px 0;
              margin: -5px 10px -10px 10px;
            }
          }
        }
      }
    }
  }
}

// hero
.hero {
  position: relative;
  top: 0;
  left: 0;
  height: 80vh;
  min-height: -webkit-fill-available;
  min-height: auto;
  @media (max-width: 768px) {
    @supports (-webkit-touch-callout: none) {
      min-height: -webkit-fill-available;
    }
  }
  .main-list {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -70%);
    @media (max-width: 768px) {
      top: 40%;
    }
    ul {
      display: inline-block;
      text-align: left;
      list-style-type: none;
      font-size: 5em;
      .item {
        @media (max-width: 976px) {
          padding: 10px;
        }
        &.i1 {
          margin-left: -30px;
          margin-top: -50px;
        }
        &.i2 {
          margin-top: 40px;
          margin-right: 20px;
        }
        &.i3 {
          margin-top: 30px;
          margin-left: -50px;
        }
        &.i4 {
          margin-top: 20px;
        }
      }

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      @media (max-width: 1440px) {
        // font-size: 4.5em;
      }
      @media (max-width: 1280px) {
        // font-size: 4em;
      }
      @media (max-width: 768px) {
        font-size: 3em;
      }
    }
    .item {
      padding: 10px 30px;
      @media (max-width: 976px) {
        padding: 0;
      }
    }
  }
}
.lower-main {
  position: absolute;
  // top: 445px;
  bottom: 50px;
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  @media (max-width: 768px) {
    //   @supports (-webkit-touch-callout: none) {
    //     @supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
    //     bottom: 150px;
    //   }
    // }
    // height: 100vh;
  }
  .lcol {
    width: 32.33%;
    text-align: center;
    font-size: 2em;
    &.col-1 {
      @media (max-width: 768px) {
        width: 50%;
        font-size: 1.5em;
      }
    }
    .see_more {
      // @media (max-width: 768px) {
      display: none;
      // }
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: left;
      li {
        flex-basis: 0 0 33.3333%;
        margin-top: 2px;
        // &.i2 {
        //   margin-top: 6px;
        //   margin-bottom: 15px;
        //   font-size: 1.5em;
        // }
      }
    }
    @media (max-width: 1440px) {
      font-size: 2em;
    }
    // @media (max-width: 1280px) {
    //   font-size: 1.25em;
    // }
    @media (max-width: 976px) {
      font-size: 1.5em;
    }
  }
}

.col-3 {
  text-align: right;
  align-items: flex-end;
  svg {
    position: fixed;
    bottom: 20px;
    right: 6%;
    width: 150px;
    z-index: 1;
    @media (max-width: 600px) {
      width: 75px;
    }
  }
}

.about {
  position: relative;
  margin-top: 100px;
  .main-image {
    margin: auto;
    width: 80vw;
  }
  .aboutuscontainer {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    // background-color: $black;
    width: 100%;
    justify-content: space-evenly;
    p {
      color: black;
      font-size: 3em;
      width: 30%;
      margin: 20px;
      padding: 0px 50px 0px 50px;
      line-height: 1.4;
      @media (max-width: 1440px) {
        font-size: 1.75em;
      }
      @media (max-width: 1280px) {
        font-size: 1.5em;
        padding: 0;
      }
      @media (max-width: 976px) {
        font-size: 1.25em;
        width: 80%;
      }
      // @media (max-width: 728px) {
      //   font-size: 1em;
      //   width: 80%;
      // }
    }
  }
}

.img-gallery-main {
  margin-top: 300px;
  width: 100%;
  height: 100vw;
  @media (max-width: 768px) {
    margin-top: 200px;
  }
  .img-container {
    text-align: center;
    h1 {
      color: black;
      font-weight: normal;
      font-size: 3em;
      @media (max-width: 976px) {
        font-size: 2em;
      }
      @media (max-width: 600px) {
        font-size: 1.5em;
      }
    }
    p {
      color: black;
      font-weight: normal;
      font-size: 2em;
      @media (max-width: 976px) {
        font-size: 1.5em;
      }
      @media (max-width: 600px) {
        font-size: 1em;
      }
    }
    .gridcontainer {
      display: grid;
      height: 80vw;
      grid-template-columns: repeat(3, 33.3333%);
      grid-template-rows: repeat(4, 33.3333%);
      .griditem {
        margin: 2px 2px;
      }
      .item1 {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .item2 {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      .item3 {
        grid-column: 3/4;
        grid-row: 1/2;
      }
      .item4 {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      .item5 {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      .item6 {
        grid-column: 3/4;
        grid-row: 2/3;
      }
      .item7 {
        grid-column: 1/2;
        grid-row: 3/4;
      }
      .item8 {
        grid-column: 2/3;
        grid-row: 3/4;
      }
      .item9 {
        grid-column: 3/4;
        grid-row: 3/4;
      }
      .item10 {
        grid-column: 1/2;
        grid-row: 4/5;
      }
      .item11 {
        grid-column: 2/3;
        grid-row: 4/5;
      }
      .item12 {
        grid-column: 3/4;
        grid-row: 4/5;
      }
    }
  }
}

.slogan {
  margin-top: 400px;
  position: relative;
  height: 100px;
  background-color: $off-white;
  z-index: 2;
  text-align: center;
  @media (max-width: 768px) {
    height: 50px;
    margin-top: 200px;
  }
  p {
    font-size: 4em;
    @media (max-width: 976px) {
      font-size: 3em;
    }
    @media (max-width: 600px) {
      font-size: 2em;
    }
  }
}

footer {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: $oceanblue;
  z-index: 2;
  .links {
    text-align: center;
    .lower-links {
      display: inline-block;
      list-style-type: none;
      li {
        padding: 10px 25px 10px 0;
        font-size: 2em;
        float: left;
        text-align: center;
        @media (max-width: 768px) {
          font-size: 1.8em;
          padding: 10px 15px 10px 0;
        }
      }
    }
  }
  @media (max-width: 768px) {
    height: 500px;
  }
  .middle-links {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    ul {
      margin-top: 100px;
      list-style-type: none;
      padding: 0 10px;
      &:last-child {
        text-align: right;
      }
      li {
        padding: 5px 0px;
        font-size: 1.5em;
        @media (max-width: 600px) {
          // font-size: 1em;
          padding: 5px 0px;
        }
      }
    }
  }
  .footer-logo {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    display: inline-block;
    svg {
      @media (max-width: 600px) {
        width: 100px;
      }
    }
  }
}

.nav-right {
  position: fixed;
  top: 37%;
  right: 5vw;
  ul {
    text-align: right;
    list-style-type: none;
    li {
      &.i1 {
        margin-right: -10px;
      }
      &.i2 {
        margin-right: 10px;
        margin-top: -7px;
      }
      &.i3 {
        margin-right: -10px;
        margin-top: 5px;
      }
      &.i4 {
        margin-right: 8px;
        margin-top: -7px;
      }
      font-size: 1.5em;
      padding: 10px 0;
      &.active {
        text-decoration: underline;
      }
      @media (max-width: 600px) {
        font-size: 1.5em;
        padding: 14px 7px;
      }
    }
  }
}

.menu-container {
  .wrapper {
    width: 100%;
    text-align: center;
    .inner-menu {
      img {
        width: 75vw;
      }
    }
  }
}

.about-menu {
  // height: 80vh;
  width: 100%;
  margin: auto;
  text-align: center;
  .headline {
    display: inline-block;
    letter-spacing: 20px;
    h1 {
      float: left;
      font-size: 5em;
      font-weight: normal;
      @media (max-width: 1000px) {
        font-size: 3.5em;
      }
      @media (max-width: 600px) {
        font-size: 2em;
      }
      &.i0 {
        margin-right: 6px;
        margin-top: -10px;
      }
      &.i1 {
        margin-right: 2px;
        margin-top: 4px;
      }
      &.i2 {
        margin-right: -6px;
        margin-top: -0px;
      }
      &.i3 {
        margin-left: 6px;
        margin-top: 10px;
      }
      &.i4 {
        margin-left: 6px;
        margin-top: 10px;
      }
      &.i5 {
        margin-left: 6px;
        margin-top: 10px;
      }
      &.i7 {
        margin-left: 6px;
        margin-top: 10px;
      }
      &.i8 {
        margin-left: 6px;
        margin-top: 10px;
      }
    }
    p {
      font-size: 2em;
    }
  }
  .img-wrapper {
    margin-top: 30px;
    display: flex;
    float: left;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    .menu-image {
      background-color: $black;
      width: 100vw;
      height: 30vw;
      min-width: 260px;
      min-height: 260px;
      margin-bottom: 400px;
    }
  }
}

.errorpage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
