//global variables

//colors
$white: #fff;
$off-white: #fff5ef;
$black: #070707;
$chickpea: #fff3de;
$banana: #fff7ab;
$pink: #ffbdbf;
$skyblue: #388fff;
$oceanblue: #3b02ff;

//fonts
$font: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
  Georgia, serif;

@font-face {
  font-family: Olavi;
  src: url("../fonts/Olavi-Regular.otf") format("opentype");
}

@font-face {
  font-family: Olavi;
  font-weight: bold;
  src: url("../fonts/Olavi-Bold.otf") format("opentype");
}

html,
body {
  font-family: "Olavi", $font;
  color: $pink;
  font-size: 12px;
  background-color: $off-white;
}

a {
  color: $pink;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    width: 1180px;
    min-width: 1180px;
  }
  @media (max-width: 1280px) {
    width: 876px;
    min-width: 876px;
  }
  @media (max-width: 976px) {
    width: 628px;
    min-width: 628px;
  }
  @media (max-width: 728px) {
    width: 502px;
    min-width: 502px;
  }
}

nav a {
  &:hover {
    border-bottom: 2px solid $pink;
  }
}

header {
  position: relative;
  top: 30px;
  .inner-header {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: space-between;
    .logo {
      width: 465px;
      @media (max-width: 1440px) {
        width: 380px;
        min-width: 320px;
      }
      @media (max-width: 1280px) {
        width: 300px;
        min-width: 240px;
      }
      @media (max-width: 976px) {
        width: 240px;
        min-width: 160px;
      }
      @media (max-width: 728px) {
        width: 160px;
        min-width: 80px;
      }
    }
    .nav-menu {
      margin-top: 10px;
      .upper-nav {
        margin-bottom: 10px;
        font-size: 3em;
        @media (max-width: 1440px) {
          font-size: 2.5em;
          margin-bottom: 8px;
        }
        @media (max-width: 1280px) {
          font-size: 2em;
          margin-bottom: 6px;
        }
        @media (max-width: 976px) {
          font-size: 1.5em;
          margin-bottom: 5px;
        }
        @media (max-width: 728px) {
          font-size: 1em;
          margin-bottom: 4px;
        }
      }
      .lower-nav {
        float: right;
        font-size: 1.5em;
        @media (max-width: 1440px) {
          font-size: 1.25em;
        }
        @media (max-width: 1280px) {
          font-size: 1.25em;
        }
        @media (max-width: 976px) {
          font-size: 1em;
        }
        @media (max-width: 728px) {
          font-size: 0.75em;
        }
        a {
          margin: 20px 10px;
          text-decoration: none;
          @media (max-width: 1440px) {
            margin: 17px 8px;
          }
          @media (max-width: 1280px) {
            margin: 15px 7px;
          }
          @media (max-width: 976px) {
            margin: 13px 6px;
          }
          @media (max-width: 728px) {
            margin: 11px 8px;
          }
        }
      }
    }
  }
}

// hero
.hero {
  position: relative;
  margin-top: 30px;
  .main-menu {
    position: relative;
    top: 100px;
    flex: 2;
    .main-list {
      flex: 1;
      text-align: center;
      ul {
        display: inline-block;
        text-align: left;
        list-style-type: none;
        font-size: 5em;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        @media (max-width: 1440px) {
          font-size: 4.5em;
        }
        @media (max-width: 1280px) {
          font-size: 4em;
        }
        @media (max-width: 976px) {
          font-size: 3.5em;
        }
        @media (max-width: 728px) {
          font-size: 3em;
        }
      }
      .item {
        padding: 0 10px;
      }
    }
  }
  .lower-main {
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    .lcol {
      width: 30%;
      text-align: center;
      ul {
        list-style-type: none;
        padding: 0;
        text-align: left;
      }
      .logo-right_bot {
        display: inline-block;
        flex: 1;
      } 
    }
  }
}
