//global variables

//colors
$white: #fff;
$off-white: #fff5ef;
$black: #070707;
$chickpea: #fff3de;
$banana: #fff7ab;
$pink: #ffbdbf;
$skyblue: #388fff;
$oceanblue: #3b02ff;

//fonts
$font: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
  Georgia, serif;

@font-face {
  font-family: Olavi;
  src: url("../fonts/Olavi-Regular.otf") format("opentype");
}

@font-face {
  font-family: Olavi;
  font-weight: bold;
  src: url("../fonts/Olavi-Bold.otf") format("opentype");
}

html,
body {
  font-family: "Olavi", $font;
  color: $pink;
  font-size: 12px;
  background-color: $off-white;
}

a {
  color: $pink;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  width: 90vw;
  min-width: 90vw;
  margin: 0 auto;

  // @media (min-width: 1280px) {
  //   width: 992px;
  //   max-width: 992px;
  // }
  // @media (min-width: 992px) {
  //   width: 992px;
  //   max-width: 992px;
  // }
  // @media (min-width: 768px) {
  //   width: 768px;
  //   max-width: 768px;
  // }
  // @media (min-width: 600px) {
  //   width: 600px;
  //   max-width: 600px;
  // }
  // @media (max-width: 600px) {
  //   width: 90vw;
  //   min-width: 90vw;
  // }
}

nav a {
  &:hover {
    border-bottom: 2px solid $pink;
  }
}

header {
  position: relative;
  height: 20vh;
  top: 1vh;
  .inner-header {
    position: relative;
    height: 80px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 465px;
      margin-top: 10px;
      @media (max-width: 1440px) {
        width: 380px;
        min-width: 320px;
      }
      @media (max-width: 1280px) {
        width: 300px;
        min-width: 240px;
      }
      @media (max-width: 976px) {
        width: 240px;
        min-width: 160px;
      }
      @media (max-width: 728px) {
        width: 160px;
        min-width: 80px;
      }
    }
    .nav-menu {
      margin-top: 10px;
      .upper-nav {
        margin-bottom: 10px;
        font-size: 3em;
        @media (max-width: 1440px) {
          font-size: 2.5em;
          margin-bottom: 8px;
        }
        @media (max-width: 1280px) {
          font-size: 2em;
          margin-bottom: 6px;
        }
        @media (max-width: 976px) {
          font-size: 1.5em;
          margin-bottom: 5px;
        }
        @media (max-width: 728px) {
          font-size: 1em;
          margin-bottom: 4px;
        }
      }
      .lower-nav {
        float: right;
        font-size: 1.5em;
        @media (max-width: 1440px) {
          font-size: 1.25em;
        }
        @media (max-width: 1280px) {
          font-size: 1.25em;
        }
        @media (max-width: 976px) {
          font-size: 1em;
        }
        @media (max-width: 728px) {
          font-size: 0.75em;
        }
        a {
          margin: 20px 10px;
          text-decoration: none;
          @media (max-width: 1440px) {
            margin: 17px 8px;
          }
          @media (max-width: 1280px) {
            margin: 15px 7px;
          }
          @media (max-width: 976px) {
            margin: 13px 6px;
          }
          @media (max-width: 728px) {
            margin: 11px 8px;
          }
        }
      }
    }
  }
}

// hero
.hero {
  position: relative;
  top: 0;
  height: 80vh;
  .main-list {
    position: absolute;
    text-align: center;
    width: 90vw;
    top: 10%;
    ul {
      display: inline-block;
      text-align: left;
      list-style-type: none;
      font-size: 5em;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      @media (max-width: 1440px) {
        font-size: 4.5em;
      }
      @media (max-width: 1280px) {
        font-size: 4em;
      }
      @media (max-width: 976px) {
        font-size: 3.5em;
      }
      @media (max-width: 728px) {
        font-size: 3em;
      }
    }
    .item {
      padding: 0 10px;
    }
  }
}
.lower-main {
  position: absolute;
  bottom: 40px;
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  .lcol {
    width: 32.33%;
    text-align: center;
    font-size: 2em;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: left;
      li {
        flex-basis: 0 0 33.3333%;
      }
    }
    @media (max-width: 1440px) {
      font-size: 1.5em;
    }
    @media (max-width: 1280px) {
      font-size: 1.25em;
    }
    @media (max-width: 976px) {
      font-size: 1em;
    }
    @media (max-width: 728px) {
      font-size: 0.75em;
    }
  }
}

.col-3 {
  text-align: right;
  align-items: flex-end;
  svg {
    position: fixed;
    bottom: 20px;
    right: 6%;
    width: 150px;
    z-index: 1;
    @media (max-width: 600px) {
      width: 75px;
    }
  }
}

.about {
  position: relative;
  top: 200%;
  .main-image {
    width: 100%;
    height: 100px;
  }
  .aboutuscontainer {
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: $black;
    width: 100%;
    justify-content: space-evenly;
    p {
      font-size: 3em;
      width: 30%;
      margin: 20px;
      padding: 0px 50px 0px 50px;
      line-height: 1.4;
      @media (max-width: 1440px) {
        font-size: 1.75em;
      }
      @media (max-width: 1280px) {
        font-size: 1.5em;
      }
      @media (max-width: 976px) {
        font-size: 1.25em;
      }
      @media (max-width: 728px) {
        font-size: 1em;
      }
    }
  }
}

.img-gallery-main {
  margin-top: 500px;
  width: 100%;
  .img-container {
    .gridcontainer {
      display: grid;
      height: 90vw;
      grid-template-columns: repeat(5, 20%);
      grid-template-rows: repeat(5, 20%);
      .griditem {
        margin: 5px 5px;
        background-color: $skyblue;
      }
      .item1 {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .item2 {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      .item3 {
        grid-column: 4/5;
        grid-row: 1/2;
      }
      .item4 {
        grid-column: 5/6;
        grid-row: 1/2;
      }
      .item5 {
        grid-column: 1/4;
        grid-row: 2/4;
      }
      .item6 {
        grid-column: 4/5;
        grid-row: 2/3;
      }
      .item7 {
        grid-column: 5/6;
        grid-row: 2/3;
      }
      .item8 {
        grid-column: 5/6;
        grid-row: 3/4;
      }
      .item9 {
        grid-column: 2/3;
        grid-row: 4/5;
      }
      .item10 {
        grid-column: 3/4;
        grid-row: 4/5;
      }
    }
  }
}

.slogan {
  margin-top: 500px;
  text-align: center;
  p {
    font-size: 4em;
    @media (max-width: 976px) {
      font-size: 3em;
    }
    @media (max-width: 600px) {
      font-size: 1.75em;
    }
  }
}

footer {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: $oceanblue;
  z-index: 2;
  .links {
    text-align: center;
    .lower-links {
      display: inline-block;
      list-style-type: none;
      li {
        padding: 10px 25px 10px 0;
        font-size: 2em;
        float: left;
        text-align: center;

        @media (max-width: 600px) {
          font-size: 1.25em;
        }
      }
    }
  }
  @media (max-width: 600px) {
    height: 400px;
  }
  .middle-links {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    ul {
      margin-top: 100px;
      list-style-type: none;
      padding: 0 10px;
      &:last-child {
        text-align: right;
      }
      li {
        padding: 5px 0px;
        font-size: 1.5em;
        @media (max-width: 600px) {
          font-size: 1em;
          padding: 2px 0px;
        }
      }
    }
  }
  .footer-logo {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    display: inline-block;
    svg {
      @media (max-width: 600px) {
        width: 100px;
      }
    }
  }
}

.nav-right {
  position: fixed;
  top: 40%;
  right: 5vw;
  ul {
    text-align: right;
    list-style-type: none;
    li {
      font-size: 1.5em;
      padding: 10px 0;
      &.active {
        text-decoration: underline;
      }
      @media (max-width: 600px) {
        font-size: 1em;
        padding: 7px 0;
      }
    }
  }
}

.menu-container {
  .wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    .inner-menu {
      img {
        width: 60vw;
      }
    }
  }
}

.about-menu {
  height: 80vh;
  width: 100%;
  margin: auto;
  text-align: center;
  .headline {
    h1 {
      font-size: 6em;
      font-weight: normal;
    }
    p {
      font-size: 2em;
    }
  }
  .img-wrapper {
    margin-top: 30px;
    display: flex;
    float: left;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    .menu-image {
      background-color: $black;
      width: 100vw;
      height: 30vw;
      min-width: 260px;
      min-height: 260px;
      margin-bottom: 400px;
      
    }
  }
}
