body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.body {
	font-family:Olavi, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.heading-1 {
	font-family:Olavi, sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:bold;
}
span.subheader-paladino {
	font-family:Palatino, serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:right;
}
p.ParaOverride-2 {
	text-align:justify;
	text-align-last:right;
}
span.CharOverride-1 {
	font-family:Palatino, serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-size:13px;
}
span.CharOverride-3 {
	font-size:8px;
}
span.CharOverride-4 {
	font-size:14px;
}
span.CharOverride-5 {
	font-family:Olavi, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000, #_idContainer046, #_idContainer126 {
	display:inline-block;
	height:857px;
	position:relative;
	width:610px;
}
#_idContainer001, #_idContainer047, #_idContainer127 {
	display:inline-block;
	height:859px;
	position:relative;
	width:612px;
}
#_idContainer002, #_idContainer048, #_idContainer128 {
	display:inline-block;
	height:48px;
	width:142px;
}
#_idContainer059, #_idContainer062, #_idContainer072, #_idContainer075, #_idContainer078, #_idContainer081, #_idContainer092 {
	display:inline-block;
	width:25px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#fef9f6;
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:left;
}
